body {
    background-color: #EEEEEE;
}

.navbar-default {
    height: 90px;
    /*border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 20px;
    border-color: #0090CC !important;*/
}

.container-fluid {
    margin-top: 15px;

}
.navbar-default {
    background-color: #173D4C;
    border-radius: 0px;
    border-bottom-color:#0090CC;
    border-bottom-width: 12px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}


.navbar-default .navbar-brand {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    border-right: 1px solid #EEEEEE;

}
.navbar-default .navbar-brand:hover {
    color: white;
}
.navbar-default .navbar-nav .open a:focus,
.navbar-default .navbar-nav .open a:hover{
    color: #EEEEEE;
    background-color: inherit;
}
.navbar .container-fluid .navbar-brand {
    margin-left: 0px
}
.navbar-nav li .dropdown-menu {
    background-color: #173D4C
}



.navbar-default .navbar-nav .active a {
    background-color: inherit;
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: snow;
}

.navbar-nav .open a {
    background-color: inherit;
}
.hart_tv_TV {
    color: #0090CC
}

.active {
    color: #EEEEEE;
}

#show_search {
    padding-left: 10px;
    padding-right: 50px;
}
#search_button {
    background-color: #0090CC;
    border-color:#0090CC;
    border-left: 0px;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}
.submit-button {
    background-color: #0090CC;
    border-color:#0090CC;
    border-left: 0px;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}

.navbar-nav li a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 7px;
    border-right: 1px solid #EEEEEE;
    color: #EEEEEE;
}

.dropdown-menu li a{
    border: none;
}

#nav-user {
    border: none;
}
/*header ends here*/
.footer-container .footer-brand, .footer-text{
    margin-top: -5px;
    display: inline-block;
    vertical-align: top;
}
.footer-container .footer-text {
    margin-left: 15px;
    margin-top: 5px;
    color: #EEEEEE;
}

.footer-right {
    float:right;
}

.footer-brand:hover {
    color: white;
    text-decoration: none;
}

label {
    color: #0090CC;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}