body {
    background-color: #EEEEEE;
}


.navbar-default {
    height: 90px;
    /*border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 20px;
    border-color: #0090CC !important;*/
}

.container-fluid {
    margin-top: 15px;

}
.navbar-default {
    background-color: #173D4C;
    border-radius: 0px;
    border-bottom-color:#0090CC;
    border-bottom-width: 12px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}


.navbar-default .navbar-brand {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    border-right: 1px solid #EEEEEE;

}
.navbar-default .navbar-brand:hover {
    color: white;
}
.navbar-default .navbar-nav .open a:focus,
.navbar-default .navbar-nav .open a:hover{
    color: #EEEEEE;
    background-color: inherit;
}
.navbar .container-fluid .navbar-brand {
    margin-left: 0px
}
.navbar-nav li .dropdown-menu {
    background-color: #173D4C
}



.navbar-default .navbar-nav .active a {
    background-color: inherit;
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: snow;
}

.navbar-nav .open a {
    background-color: inherit;
}
.hart_tv_TV {
    color: #0090CC
}

.active {
    color: #EEEEEE;
}

#show_search {
    padding-left: 10px;
    padding-right: 50px;
}
#search_button {
    background-color: #0090CC;
    border-color:#0090CC;
    border-left: 0px;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}

.navbar-nav li a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 7px;
    border-right: 1px solid #EEEEEE;
    color: #EEEEEE;
}

.dropdown-menu li a{
    border: none;
}

#nav-user {
    border: none;
}
/*header ends here*/




















.show_info_column_header {
    border-color: #bebebe;
    border-style: solid;
    border-width: 0 0 1px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    margin: 4px 0 5px;
    padding: 3px 0;
}

.spaceit {
    margin: 3px 0;
    padding: 3px 0;
    display: block;
}
.dark_text { 
    color: #444;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}


.episode_comment {
    margin: 10px;
    padding:5px;
}


/*all shows page styling*/

.show-table-stats, .show-table-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: bold;

}

.show-table-title {
    color: #006C99;
    vertical-align: top;
}
.show-table-stats {
    color: gray;
    display: inline-block;
    padding-left: 3em;
    padding-right: 1em;
    vertical-align: top;
    text-align: right;

}
.show-table-description {
    color: #686868;
}

.all-show-image {
    width: 100%; height: 100%;
    display: block;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #a6a6a6;
    margin-bottom: 10px;
}


.stats-holder {
    float: right;
    width: 33%;
    display: inline-block;
}

.first-column {
    color: #0090CC;

}
.second-column {
    color: #686868;
}
.show-row {
    padding-bottom: 1em;
    border-bottom: 1px solid darkgray;
    padding-top: 1em;
}

#one-show-title{
    color: #173D4C;
    font-size: 2em;
    font-weight: bold;
    vertical-align: top;

}
/*one show page stuff here*/
.one-show-header {
    display: inline-block;
    vertical-align: top;
}
.one-show-image {
    max-height: 100%;
    max-width: 100%;
}

#add-remove-favorite {
    float: right;
    margin-right: 15px;
}

.show-table-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.table tbody tr th {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
.episodes-header {
    color: #006C99;
}
.episodes-header, hr {
    display: inline-block;
}
.episodes-container {
    height: 380px;
    float: left;
}
.individual-episode-container {
    padding: 5px;
    margin: 5px;
    max-width: 100%;
    max-height: 100%;
}
.episode-image {
    border: 1px solid #EEEEEE;
    width: 154px;
    height: 83px;
}
.episode-title-season {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
}

#one-show-description-header {
    color: #006C99;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: top;

}

#one-show-description-text {
    color: #686868;
    height: 206px;
    overflow: scroll;
}

.reviews {
    height: 180px;
    overflow: scroll;
}

.add-review-header {
    color: #006C99;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: top;
}
.add-review-title {
    color: #337ab7

}
.one-show-button {    
    background-color: #0090CC;
    border-color:#0090CC;
    border-left: 0px;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}
#review-button {
    float: right;
}
#one-show-review-header {
    color: #006C99;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: top;

}
.reviewer-name, .reviewer-title, .reviewer-date, .review-rating {
    font-size: 1.125em;
    font-weight: bold;
}
.reviewer-name {
    color: #006C99;
}
.reviewer-title, .reviewer-date, .review-rating {
    color: #686868; 
}
.reviewer-date {
    float: right;
}
.review-text {
    color: #686868;
}

.commenter-date {
    font-size: 1.125em;
    color: #686868;
    font-weight: bold;
}
.comments-container {
    height: 200px;
    overflow:scroll;
}
.comment-container {
    height: 100px;
    overflow: hidden;
}
/*episode stuff here*/
.episode-thumbnail {
    max-height: 100%; max-width:100%;
    border: 1px solid #EEEEEE;
}
.one-episode-description-text {
    color: #686868;
    height: auto;
    overflow: scroll;
}
/*footer here*/
/*footer here*/

.footer-distributed{
	background-color: #006C99;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 25px 40px;
	margin-top: 60px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

footer {
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
   /*Set the fixed height of the footer here */
  height: 60px;
  background-color: #006C99;
}
.submit-button {
    background-color: #0090CC;
    border-color:#0090CC;
    border-left: 0px;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
    float: right;
}
.update-description-button {
    margin-top: 10px;
}
.footer-brand {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;

    margin-left: 15px;
    background-color: #173D4C;
    padding: 5px;

}

.footer-container .footer-brand, .footer-text{
    margin-top: -5px;
    display: inline-block;
    vertical-align: top;
}
.footer-container .footer-text {
    margin-left: 15px;
    margin-top: 5px;
    color: #EEEEEE;
}

.footer-right {
    float:right;
}

.footer-brand:hover {
    color: white;
    text-decoration: none;
}

label {
    color: #0090CC;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.edit-profile-title {
    display: inline-block;
    color: #0090CC;

}
#edit-profile {
    color: #006C99;
    font-size: 2.5em;
    font-weight: bold;
}
#edit-profile-name {
    margin-bottom: 10px;
    font-size: 1.5em;
}
.edit-header {
    color: #173D4C;
}

.random-episode {
    width: 300px;
    height: 440px;
}

.random-episode-image {
 
    width: 300px;
    height: 440px;
    /*object-fit: contain;*/
    border: 2px solid #686868;
}


.random-episode-information {
    height: 120px;
    width: 300px;
    background-color: #0090CC;
    border: 2px solid #686868;
    overflow: hidden;
}


.random-episode-title, .random-episode-description {
    padding: 10px;
}
.random-episode-title {
    color: #EEEEEE;
    font-size: 1.5em;
}
.random-episode-description {
    color: #EEEEEE;
    font-size: .875em;
}
.random-episode-view-show {
    color: #EEEEEE;
    float: right;
}

.paragraph-text {

    color: #909090;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}

.nowrap {
  white-space: nowrap;
}
.top-rated-header {
    color: #173D4C;
    font-size: 1.25em;
    font-weight: bold;
}
.top-rated-show-title {
   color: #0090CC;
   float: center;
   margin: 0;
   font-size: 1.125em;
}
.top-rated-show-image {
    width:140px; height:180px;
    border: 2px  solid #686868;
}

.navbar-collapse { background:#173D4C;}