.show_info_column_header {
    border-color: #bebebe;
    border-style: solid;
    border-width: 0 0 1px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    margin: 4px 0 5px;
    padding: 3px 0;
}

.spaceit {
    margin: 3px 0;
    padding: 3px 0;
    display: block;
}
.dark_text { 
    color: #444;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}


.episode_comment {
    margin: 10px;
    padding:5px;
}