{% extends 'harttv_app/base.html' %}
    {% block content %}
            <p class='edit-profile-title' id='edit-profile'>{{user.first_name}} {{user.last_name}}</p><p class='edit-profile-title' id='edit-profile-name'>&nbsp;//Edit Profile</h4>
            <div class='row'>
            <div class='col-md-4'>
                <h3 class='edit-header'>Update Information</h3>
                <form action="{% url 'dashboard:update_user' user_id=user.id %}" method='post'>
                    {% csrf_token %}
                    <div class='form-group'>
                        <label for='email'>Email: </label>
                        <input type='text' name='email' id='email' class='form-control' value="{{user.email}}">
                    </div>
                    <div class='form-group'>
                        <label for='first_name'>First Name: </label>
                        <input type='text' name='first_name' id='first_name' class='form-control' value="{{user.first_name}}">
                    </div>
                    <div class="form-group">
                        <label for='last_name'>Last Name: </label>
                        <input type='text' name='last_name' id='last_name' class='form-control' value="{{user.last_name}}">
                    </div>

                    {% if boolean %}
                    <label for='admin'>Admin: </label>
                    <div class="form-group">
                        <select name='admin' class='form-control' style='max-width: 60%'>
                            <option value='False'>Normal</option>
                            <option value='True' selected>Admin</option>
                        </select>
                    </div>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-default submit-button">Submit</button>
                </form>

            </div>
            <div class='col-md-4'>
                <h3 class='edit-header'>Change Password</h3>
                <form action="{% url 'dashboard:update_user' user.id %}" method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for='password'>Password: </label>
                        <input type='password' name='password' id='password' class='form-control' placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for='confirm_password'>Confirm Password: </label>
                        <input type='password' name='confirm_password' id='confirm_password' class='form-control' placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-default submit-button">Submit</button>
                </form>
            </div>
            </div>

            <div class='row'>
            <div class='col-md-4'>
                <h3 class='edit-header'>Update Description</h3>
                <form action="{% url 'dashboard:update_user_description' user.id %}" method='post'>
                    {% csrf_token %}
                    <div class='form-group'>
                        <textarea style="max-width: 100%;" name='description' class='form-control'>{{description.description_text}}</textarea>
                        <button type="submit" class="btn btn-default submit-button update-description-button">Update</button>  
                    </div>
                </form>
            </div>
            </div>

    {% endblock %}
            
            

