<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        {% load staticfiles %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,900" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'harttv_app/css/style.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'harttv:index' %}">Hart<span class='hart_tv_TV'>TV</span></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'harttv:index' %}">Home <span class="sr-only">(current)</span></a></li>
                <li class='active'><a href="{% url 'harttv:view_all_shows' %}">Shows</a></li> <!--Link to Page that renders all shows currently in db, same as search_result format.-->
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'dashboard:index' %}">User Dashboard</a></li>
                    <li><a href="#">Top All-Time Shows</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
                <li><a href="{% url 'harttv:about' %}">About</a></li>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" id="nav-user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.session.first_name}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'dashboard:show_user' request.session.id %}">View Profile</a></li>
                    <li><a href="{% url 'dashboard:edit_user' request.session.id %}">Account Management</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'harttv:search_results' %}">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for a show..." name="show_search" id="show_search">
                </div>
                <button type="submit" class="btn btn-default" id="search_button">Search!</button>
            </form>
            </div><!-- /.navbar-collapse -->

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
        </nav>
        <!--new header ends here -->

        <!-- new all shows starts here -->

        <div class='container'>
            {% for show in shows %}
            <div class='row show-row'>
                <div class='col-md-12 show-table-header'>
                    <div class='row'>
                        <div class='col-md-2'>
                            <p class='show-table-title'><a href="{% url 'harttv:view_show' show_maze_id=show.maze_id %}">{{show.title}}</a></h3>
                        </div>
                        <div class='col-md-10'>
                            <div class='stats-holder'><p class='show-table-stats'> Network: {% if not show.network %} N/A {% else %} {{show.network}} {% endif %}</p></div>
                            <div class='stats-holder'><p class='show-table-stats'>Premiered: {{show.premiered|date:"Y"}}</p></div>
                            <div class='stats-holder'><p class='show-table-stats'>ID #{{show.maze_id}}</p></div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-2'>
                            <img class='all-show-image' src="{{show.image_link}}">
                        </div>
                        <div class='col-md-10'>
                            <p>{{show.description|truncatewords:60}}</p>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>


        <!-- new all shows ends here -->
        <div class='container-fluid'>
            <h2>All shows are users have looked for!</h2>
            <h4>If you don't see a show here, don't worry. Just use the searchbar to look for it!</h4>
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Network</th>
                        <th>Premiered</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in shows %}
                    <tr>
                        <td>{{show.maze_id}}</td>
                        <td><a href="{% url 'harttv:view_show' show_maze_id=show.maze_id %}">{{show.title}}</a></td>
                        <td><img src="{{show.image_link}}" style="width: 150px; height: 150px;"></td>
                        <td>{{show.network}}</td>
                        <td>{{show.premiered|date:"Y"}}</td>
                        <td>{{show.description|truncatewords:100}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>


        

    </body>
</html>