<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    </head>
    <body>
        <h1>Hello <a href="{% url 'dashboard:show_user' request.session.id %}">{{request.session.first_name}}</a>! Welcome to HartTV</h1>
        <a href="{% url 'harttv:test_search_bar' %}">Search!</a>
        

    </body>
</html>