<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Test search page</h1>
        <form action="{% url 'harttv:search_results' %}">
            <label for='show_search'>
            <input type="text" class="form-control" placeholder="Search for a show" name="show_search">
            <button class="btn btn-default" type="submit">Search!</button>
        </form>
            
            
    
    </body>
</html>