<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% load static %}
        <link href="{% static 'harttv_app/css/style.css' %}" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class='container'>
            <h1>Hello {{request.session.first_name}}! Welcome to HartTV</h1>
            <form action="{% url 'harttv:search_results' %}">
                <input type="text" class="form-control" placeholder="Search again" name="show_search">
                <button class="btn btn-default" type="submit">Search!</button>
            </form>

            <div class="row">
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-4
                    <h2>{{show.title}}</h2>
                    <img src="{{show.image_link}}" alt='show_image' style="width:300px; height:450px;">
                    {% if not favorited %}
                    <form action="{% url 'harttv:handle_add_favorite' show.id%}" method='post'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-default'>&#9734; Add to Favorites</button>
                    </form>
                    {% else %}
                    <form action="{% url 'harttv:handle_remove_favorite' show.id%}" method='post'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-default'>Remove From Favorites</button>
                    </form>
                    {% endif %}
                    <table class='table'>
                        <thead>
                            <!--<tr>
                                <td>Attribute</td>
                                <td>Data</td>
                            </tr>-->
                        </thead>
                        <tbody>
                            <h3 class='show_info_column_header'>Information</h3>
                            <tr>
                                <th>Episodes</th>
                                <th>{{num_episodes}}</th>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <th>{{show.status}}</th>
                            </tr>
                            <tr>
                                <th>Preimere Date</th>
                                <th>{{show.premiered}}</th>
                            </tr>
                            <tr>
                                <th>Network</th>
                                <th>{{show.network}}</th>
                            </tr>
                        </tbody>
                    </table>
                    <table class='table'>
                        <thead>
                        
                        </thead>
                        <tbody>
                            
                        </tbody>
                            <h3 class='show_info_column_header'>Statistics</h3>
                            <tr>
                                <th>Average Score</th>
                                <th>{{show_average_rating}} ({{show_num_users_rated}} users)</th>
                            </tr>
                            <tr>
                                <th>Your Score</th>
                                <th>{{current_rating}}</th>
                            </tr>
                            <tr>
                                <th>Favorites</th>
                                <th>{{favorites}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-8" style="background-color:lavenderblush;">.col-sm-8
                    <p>Description: {{show.description}}</p>
                    <div class="episodes_container" style="height: 550px; overflow: scroll;">
                        <h3>Episodes</h3>
                        <div class="row" style="overflow: scroll; vertical-align: top;">
                            {% for episode in episodes %}
                                <div class="col-sm-4" style="background-color:lightblue; max-height: 100%; max-width: 100%;">
                                    <h4><a href="{% url 'harttv:view_episode' episode.id%}">{{episode.title}}</a></h4> 
                                    <p>S{{episode.season_number}}E{{episode.episode_number}}</p>
                                    <p>Original Airdate: {{episode.airdate}}</p>
                                    <p>Thumbnail: <img src="{{episode.image_link}}" alt="Ep Thumbnail" style="max-width: 100%; max-height: 100%;"></p>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                                {% endif %}
                        {% endfor %}
                        </div>
                    </div>
     
                    <h3>Reviews: </h3>
                    {% for review in show.reviews.all %}
                        <p>{{review.user.first_name}}: {{review.title}}</p>
                        <p>Content: {{review.text}}</p>
                        <p>Rating: {{review.rating.rating}}</p>
                    {% endfor %}

                    <form action="{% url 'harttv:handle_add_review' show.id %}" method='post'>
                        {% csrf_token %}
                        <div class='form-group'>
                            <label for='title'>Title:</label>
                            <input type='text' name='title'>
                        </div>
                        <div class='form-group'>
                            <label for='review'>Review:</label>
                            <textarea name='review' class='form-control'></textarea>
                        </div>
                        <div class='form-group'>
                            <label for="rating">Rating:</label>
                            <select class='form-group' name='rating'>
                                {% if current_rating %}
                                    {% for option in options %}
                                        <option class='form-group' value="{{option.0}}" {% if current_rating == option.0 %} selected {% endif %}>{{option.1}}</option>
                                    {% endfor %}
                                {% else %}
                                        <option selected disabled>Select</option>
                                    {% for option in options %}
                                        <option value="{{option.0}}" {% if current_rating == option.0 %} selected {% endif %}>{{option.1}}</option>
                                    {% endfor %}
                                {% endif %}                
                            </select>

                            <!-- would be a great time to use ajax!!!-->
                        </div>
                        <button class='btn btn-default' type='submit'>Submit Rating</button>
                    </form>
                </div>

    </div>
    </body>
</html>