<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        {% load staticfiles %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,900" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'harttv_app/css/style.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    </head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'harttv:index' %}">Hart<span class='hart_tv_TV'>TV</span></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'harttv:index' %}">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'harttv:view_all_shows' %}">Shows</a></li> <!--Link to Page that renders all shows currently in db, same as search_result format.-->
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'dashboard:index' %}">User Dashboard</a></li>
                    <li><a href="#">Top All-Time Shows</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
                <li><a href="{% url 'harttv:about' %}">About</a></li>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" id="nav-user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.session.first_name}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'dashboard:show_user' request.session.id %}">View Profile</a></li>
                    <li><a href="{% url 'dashboard:edit_user' request.session.id %}">Account Management</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'harttv:search_results' %}">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for a show..." name="show_search" id="show_search">
                </div>
                <button type="submit" class="btn btn-default" id="search_button">Search!</button>
            </form>
            </div><!-- /.navbar-collapse -->

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
        </nav>
        <!--new header ends here -->
        <div class='container'>
            <div class="row">
                <div class="col-sm-4" style="background-color:lavender;">.col-sm-4
                    <h2><a href="{% url 'harttv:view_show' show.maze_id%}">{{show.title}}</a></h2>
                    <img src="{{show.image_link}}" alt='show_image' style="width:300px; height:450px;">
                    {% if not favorited %}
                    <form action="{% url 'harttv:handle_add_favorite' show.id%}" method='post'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-default'>&#9734; Add to Favorites</button>
                    </form>
                    {% else %}
                    <form action="{% url 'harttv:handle_remove_favorite' show.id%}" method='post'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-default'>Remove From Favorites</button>
                    </form>
                    {% endif %}
                    <table class='table'>
                        <thead>
                            <!--<tr>
                                <td>Attribute</td>
                                <td>Data</td>
                            </tr>-->
                        </thead>
                        <tbody>
                            <h3 class='show_info_column_header'>Information</h3>
                            <tr>
                                <th>Episodes</th>
                                <th>{{num_episodes}}</th>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <th>{{show.status}}</th>
                            </tr>
                            <tr>
                                <th>Preimere Date</th>
                                <th>{{show.premiered}}</th>
                            </tr>
                            <tr>
                                <th>Network</th>
                                <th>{{show.network}}</th>
                            </tr>
                        </tbody>
                    </table>
                    <table class='table'>
                        <thead>
                        
                        </thead>
                        <tbody>
                            
                        </tbody>
                            <h3 class='show_info_column_header'>Statistics</h3>
                            <tr>
                                <th>Average Score</th>
                                <th>{{show_average_rating}} ({{show_num_users_rated}} users)</th>
                            </tr>
                            <tr>
                                <th>Your Score</th>
                                <th>{{current_rating}}</th>
                            </tr>
                            <tr>
                                <th>Favorites</th>
                                <th>{{favorites}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-8" style="background-color:lavenderblush;">.col-sm-8
                    <img src="{{episode.image_link}}" alt='episode_thumbnail' style="max-height: 100%; max-width:100%;">
                    <h2>Episode Name: {{episode.title}}</h2>
                    <h5>Season: {{episode.season_number}} Episode: {{episode.episode_number}}</h5> 
                    <h5>Airdate: {{episode.airdate}}</h5>
                    <h5>Runtime: {{episode.runtime}} min</h5>
                    <h5>Average Rating: {{episode_average_rating}} ({{episode_num_users_rated}} users)</h5>
                    <h5>Your Rating: {{episode_rating}}</h5>
                    <p>Synopsis: {{episode.summary}}</p>
                    <form action="{% url 'harttv:handle_update_episode_rating' episode.id %}" method='post'>
                        {% csrf_token %}
                        <div class='form-group'>
                            <label for="rating">Rating:</label>
                            <select name='rating'>
                                {% if current_rating %}
                                    {% for option in options %}
                                        <option value="{{option.0}}" {% if episode_rating == option.0 %} selected {% endif %}>{{option.1}}</option>
                                    {% endfor %}
                                {% else %}
                                        <option selected disabled>Select</option>
                                    {% for option in options %}
                                        <option value="{{option.0}}" {% if episode_rating == option.0 %} selected {% endif %}>{{option.1}}</option>
                                    {% endfor %}
                                {% endif %}
                                        
                            </select>

                            <button class='btn btn-default' type='submit'>Submit Rating</button>
                            <!-- would be a great time to use ajax!!!-->

                        </div>

                    </form>
                    <div class="col-sm-8 episode_comment" style="background-color:aquamarine;""" >
                        <div class="row">
                    {% for comment in comments %}
                            <div class="col-sm-3">
                                <h4>{{comment.user.first_name}}</h4>
                                <p>{{comment.created_at}}</p>
                            </div>
                            <div class='col-sm-9'>
                                <p>{{comment.comment}}</p>
                            </div>
                        
                            {% if comment.user.id == request.session.id %}
                            <form action="{% url 'harttv:handle_delete_episode_comment' episode.id comment.id%}" method='post'>
                                {% csrf_token %}
                                <button class='btn btn-link' type='submit'>Delete Comment</button>
                            </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if messages %}
                    <ul>
                        <li>ATTENTION REQUIRED!</li>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="{% url 'harttv:handle_add_episode_comment' episode.id%}" method='post'>
                        {% csrf_token %}
                        <textarea name='comment' id='comment' class='form-control' placeholder='What are your thoughts...?'></textarea>
                        <button type='submit' class='btn btn-default'>Add a Comment!</button>
                    </form>
                    </div>
                        
        </div>
    </body>
</html>