body {
    background-color: #EEEEEE;
}

.navbar-default {
    height: 90px;
    /*border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 20px;
    border-color: #0090CC !important;*/
}

.container-fluid {
    margin-top: 15px;

}
.navbar-default {
    background-color: #173D4C;
    border-radius: 0px;
    border-bottom-color:#0090CC;
    border-bottom-width: 12px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}


.navbar-default .navbar-brand {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    border-right: 1px solid #EEEEEE;

}
.navbar-default .navbar-brand:hover {
    color: white;
}
.navbar .container-fluid .navbar-brand {
    margin-left: 0px
}


.hart_tv_TV {
    color: #0090CC
}
/*font-family: 'Open Sans', sans-serif;*/

.form-control {
    margin-bottom: 30px;
}

#register-box {
    border-left: 1px solid gray;
}

.login_header {
    font-size: 3em;
    color: #006C99;
    margin-bottom: 20px;
}
#welcome {
    color: #0090CC
}
.welcome-text {
    color: #909090;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
.btn-default {
    background-color: #0090CC;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.15em;

}
.navbar-bottom-border {
    background-color: #0090CC;
    height:10px;
}

/*footer here*/

.footer-distributed{
	background-color: #006C99;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 25px 40px;
	margin-top: 60px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #006C99;
}

.footer-brand {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;

    margin-left: 15px;
    background-color: #173D4C;
    padding: 5px;

}

.footer-container .footer-brand, .footer-text{
    margin-top: -5px;
    display: inline-block;
    vertical-align: top;
}
.footer-container .footer-text {
    margin-left: 15px;
    margin-top: 5px;
    color: #EEEEEE;
}